{% extends 'base.html.twig' %}

{% block title %}Edit Developers{% endblock %}

{% block body %}

    <h6 class="alert alert-info mt-3" >Yazılımcıyı Düzenle</h6>

    {{ include('developers/_form.html.twig', {'button_label': 'Düzenle'}) }}


    <a class="btn btn-dark float-lg-left" href="{{ path('developers_index') }}">Develepoer Listesine Dön</a>
{% endblock %}
