{% extends 'base.html.twig' %}

{% block title %}New Developers{% endblock %}

{% block body %}
    <h3 class="alert alert-info mt-3" >Yazılımcı Ekle</h3>

    {{ include('developers/_form.html.twig') }}

    <a class="btn btn-dark float-lg-left" href="{{ path('developers_index') }}">Develepoer Listesine Dön</a>
{% endblock %}
